*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/** Pequeno **/
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

/** Medio **/
@media (min-width: 768px){
    .container{
        max-width:720px;
    }
}

/** Grande **/
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

/** Muito Grande **/
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}